@charset "UTF-8";
/* CSS Document */
/* reset styles */
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
/* end reset styles */

.container {
	width: 65%;
	padding-left: 200px;
	padding-right: 200px;
	padding-bottom: 120px;
	margin-bottom: 20px;
	margin-left: 100x;
	margin-right: 100px;		
}

.container p {
	font-family:Arial, Helvetica, sans-serif;  
	color: #09F;	
	padding-left: 20px;
	padding-right: 20px; 
}

.error {
	font-family: Arial, Helvetica, sans-serif; 
	color: #F00;	
}

h1 {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 20px;
	color: #0C3;  
	padding-left: 20px;
	padding-right: 20px;  	
}

#menu a {
	font-family: Arial, Helvetica, sans-serif;
	color: #9F6; 
}

.signup, .login {
	float: left; 
	font-family:Arial, Helvetica, sans-serif;
	padding-bottom: 50px;	
}

.buttonLinks {
	float:left;
	margin: 50px;
	padding-right: 50px;
}

.footer {
	width: 100%;
	height: 50px;
	font-size: 10px;
	clear: both;
	background: #09F;	
}

.footer p {
	color: #000;
}
