#logindiv {
  position: absolute;
  width: 400px;
  height: 150px;
  padding:20px 0px 50px 20px;
  margin-right:20px;
  margin-left:40px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
  line-height: 50px;
  color: #000080;
  text-decoration: none;
  border:1px solid #999;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px grey;
  background: #CAE4F8;
}

#logindiv label{
  width:100px;
  display: inline-block;
}

#logindiv legend {
  display:none  
}

#logindiv fieldset {
  border: 0;
  margin:0;
  padding:0;
}

#logindiv input[type="text"],#contentdiv input[type="password"]{
  background-color:#FFFFFF;
  border-color:#DDD;
  width:200px
}

#logindiv input[type="submit"]{
  background-color:#FFFFFF;
  border-color:#DDD;
  margin-left: 100px;
}