a:link {color:#0000FF;}      /* unvisited link */
a:visited {color:#000047;}  /* visited link */
a:hover {color:#078EF4;}  /* mouse over link */
a:active {color:#FFFFFF;}  /* selected link */
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}


/* position:absolute for all browsers - the whole page scrolls */
#headerdiv {
  position:absolute;
  margin-top:0;
  margin-bottom:20%;
  margin-right:5px;
  margin-left:0px;
  width:100%;
  top:0;
  left:0;
  right:0;
}

#pageHeader {
  background: #CAE4F8;
  padding: 2px;
  height:80px;
  width:100%;
  margin:0 auto;
}

#logo {
  float:left;
  margin-left: 2px;
}

#navigation {
  float:right;
  margin-top:20px;
  margin-right: 2%;
  font-size:14px;
  border: 0px;
}

#navigation input[type="text"],#navigation input[type="password"]{
  background-color:#FFFFFF;
  border-color:#DDD;
  width:100px
}

#navigation input:focus {
  outline-color:#0000FF;
}

#navigation legend {
  display:none  
}

#navigation li{
  padding-left:10px;
  list-style-type: none;
  display: inline;
}

#navigation fieldset {
  border: 0;
  margin:0;
  padding:0;
}
