#indexcontent  {
  margin-top:10%;
  margin-bottom:5%;
}

#welcomediv {
  float: left;
  width:350px;
  height: 250px;
  padding:40px 30px 30px 50px;
  margin-right:20px;
  margin-left:60px;
  border:1px solid #999;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px grey;
  background: #CAE4F8;
}

#signupdiv {
  position: absolute;
  width: 200px;
  height: 250px;
  padding:20px 0px 50px 50px;
  margin-right:20px;
  margin-left:540px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
  line-height: 18px;
  color: #000080;
  text-decoration: none;
  border:1px solid #999;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px grey;
  background: #CAE4F8;
}
